use flake

# Development environment variables
export DATABASE_URL="postgres://postgres:postgres@localhost:5432/goroutinely?sslmode=disable"
export GOROUTINELY_WEBSERVER_HOST="0.0.0.0"
export GOROUTINELY_WEBSERVER_PORT="8080"
export GOROUTINELY_ENVIRONMENT="development"
